.am-header {
  height: 50px;
  line-height: 50px;
}
.am-header .am-header-title img {
  margin-top: 0;
  vertical-align: middle;
}
section {
  padding-top: .4rem;
}
section h3 {
  line-height: 2em;
  height: 2em;
  font-size: .25rem;
}
.am-header .am-header-title a:first-of-type {
  font-size: 0.25rem;
  margin: 0;
}
.body-content {
  display: none;
}
.am-modal-btn {
  font-size: 0.175rem;
}
.am-modal-hd {
  font-size: 0.175rem;
  background: #0f8fcb;
  color: #fff;
  padding: 0;
  line-height: 2.5em;
}
.am-modal-hd + .am-modal-bd {
  padding: 10px;
}
